.jumbotron {
  background-color: papayawhip;
}

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}
.showsNear {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

.team-area {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
